* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

a {
  color: var(--text);
  text-decoration: none;
  margin: 0.5rem;
}

img {
  max-width: 100%;
}

.btn-primary {
  background-color: #0098d4 !important;
  font-size: 1.4rem !important;
}

.btn-success {
  background-color: #009242 !important;
  font-size: 1.4rem !important;
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
}
@media (max-width: 767px) {
  .title-small {
    padding-top: 2rem;
    text-align: center;
  }
}

.text-primary {
  color: var(--primary);
}
.text-hint {
  color: var(--hint);
}

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.grid-container {
  display: grid;
  min-height: 100vh;
  grid: "picture header" auto "aside main" 1fr/350px auto;
}
@media (max-width: 767px) {
  .grid-container {
    grid: "header" auto "picture" auto "main" auto "aside" auto/auto;
  }
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 0rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  header {
    padding: 2rem 2rem;
  }
}
header h1 {
  font-size: 6rem;
  line-height: 8 rem;
  font-weight: 300;
  letter-spacing: 1rem;
}
@media (max-width: 767px) {
  header h1 {
    font-size: 4rem;
  }
}
header p {
  letter-spacing: 0.4rem;
}

.picture {
  grid-area: picture;
  padding: 1rem;
  background: var(--background);
  margin: auto;
}
.picture img {
  border-radius: 50%;
}
@media (max-width: 767px) {
  .picture {
    padding-top: 3rem;
  }
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem;
}
@media (max-width: 767px) {
  aside {
    padding: 0% 5%;
  }
}
aside .block h3 {
  font-size: 1.4rem;
}
aside .block p {
  font-style: italic;
  text-align: justify;
  margin-bottom: 2rem;
}
aside .skill-dots {
  display: flex;
  margin: 2rem 0 3rem 0;
  color: var(--hint);
}
aside .skill-dots i {
  font-size: 2rem;
  margin: 0 1rem;
}
aside #lonedarkstar {
  color: var(--darkstar);
}

main {
  grid-area: main;
  margin: 2rem auto 0rem auto;
  padding-right: 5rem;
}
@media (max-width: 767px) {
  main {
    padding-right: 0rem;
  }
}
main .skills {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
main .skills ul {
  text-align: left;
}
main .skills .hardSkills {
  flex: 1;
  border-right: 1px solid var(--border);
}
main .skills .softSkills {
  flex: 1;
}
main .skills .insideSkills {
  padding-left: 25%;
}
@media (max-width: 767px) {
  main .skills .insideSkills {
    padding-left: 10%;
  }
}
main .formations ul {
  padding-left: 10%;
  list-style: none;
}
@media (max-width: 767px) {
  main .formations ul {
    padding: 0% 5% 0% 5%;
  }
}
main .xpPro ul {
  padding-left: 10%;
  list-style: none;
}
@media (max-width: 767px) {
  main .xpPro ul {
    padding: 0% 5% 0% 5%;
  }
}
main .hobbies ul {
  padding-left: 10%;
  list-style: none;
}
@media (max-width: 767px) {
  main .hobbies ul {
    padding: 0% 5% 0% 5%;
  }
}
main .projet {
  padding-bottom: 3rem;
}
main .projet div {
  padding-left: 10%;
}
@media (max-width: 767px) {
  main .projet div {
    padding: 0% 5% 0% 5%;
  }
}

@media (max-width: 767px) {
  .certifications {
    text-align: center;
  }
}

.links {
  color: #007fd4;
}
.links:hover {
  font-weight: bold;
}

.h2WithIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4rem 1rem 2rem auto;
}
.h2WithIcon h2 {
  margin: 0rem;
}
.h2WithIcon i {
  margin: 2px 2rem auto 1rem;
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
